<div class="center hero-unit">
 <!-- <h1>Welcome to MyWorld</h1>-->
   <h1>Tables</h1>
     <div class="row">
       <div class="col-md-6">
         <table class="table">
           <thead>
             <tr>
               <th class="x_id">#</th>
               <th class="x_name">Name</th>
               <th class="x_score">score</th>
             </tr>
           </thead>
           <tbody>
             <% @infos.each do |x|%>
               <tr>
                 <td class="x_id"><%= x.id %></td>
                 <td class="x_name"><%= x.name %></td>
                 <td class="x_score"><%= x.score %></td>
               </tr>
             <% end %>
           </tbody>
         </table>
       </div>
     </div>
</div>








