<footer class="footer">
  <small>
    powered by <a href="http://www.pkav.net/">pkav</a> css
  </small>
  <nav>
    <ul>
      <li><a href="http://zhuanlan.zhihu.com/pkavsec">专栏</a></li>
      <li><a href="http://e.t.qq.com/pkavsec">微博</a></li>
      <li><a href="http://edu.pkav.net/">培训</a></li>
    </ul>
  </nav>
</footer>
