<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "我的世界", index_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "下载规范", download_path %></li>
          <li><%= link_to "上传文件", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
